
<%- include('partials/header.ejs') %>

   

<section class="busca-noticias">
    <div class="title-outras-noticia">
        <h2>Busca:</h2>
        
        <div class="center">
            
            <div class="mais-lidas">
                <h3><%= count %> resultados</h3>
                <div class="mais-lidas-noticias">


                    <% for (let i = 0; i < posts.length; i++) { %>
                        <div class="mais-lida-noticia-single">
                            <img src="<%= posts[i].imagem %>" />
                            <div class="texto-mais-lida-single">
                                <a href="<%= posts[i].slug %>">
                                    <h4><%= posts[i].titulo %></h4>
                                </a>
                                <p><%= posts[i].descricaoCurta %>...</p>                          
                            </div>
                        </div>
                    <% } %>
                    

                    
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>
