<%- include('partials/header.ejs') %>


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %></h2>
            <div class="autor-nome">
                <span><%= noticia.autor %></span>
            </div>
            <img src="<%= noticia.imagem %>"/>
            <p><%= noticia.conteudo %></p>
            

        </div>
        
        <div class="mais-lidas">

            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                
                <% for(let i = 0; i < postsTop.length; i++) { %>
                    <div class="mais-lida-noticia-single">
                        <img src="<%= postsTop[i].imagem %>" />
                        <div class="texto-mais-lida-single">

                            <h4><%= postsTop[i].titulo %></h4>
                            <p><%= postsTop[i].desricaoCurta %>...<span>(<%= postsTop[i].views %>)views</span></p>
                            <a href="<%= postsTop[i].slug %>">Saiba mais</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.ejs') %>

</body>
</html>