<%- include('partials/header.ejs') %>


<section class="noticia">
    <div class="center">

        <div class="noticia-single">

            <h2><%= noticia.titulo %></h2>
            <div class="autor-nome">
                <span><strong>Autor(a): </strong><%= noticia.autor %></span>
            </div>
            <img src="<%= noticia.imagem %>"/>
            <p><%= noticia.conteudo %></p>

        </div>
        
        <div class="mais-lidas">

            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                
                <% for(let i = 0; i < postsTop.length; i++) { %>
                    <div class="mais-lida-noticia-single">
                        <img src="<%= postsTop[i].imagem %>" />
                        <div class="texto-mais-lida-single">
                            <a href="<%= postsTop[i].slug %>">
                                <h4><%= postsTop[i].titulo %></h4>
                            </a>
                            <p><%= postsTop[i].descricaoCurta %>...<span>(<%= postsTop[i].views %>)views</span></p>
                            
                        </div>
                    </div>
                <% } %>
            </div>

        </div>

    </div>
</section>


<%- include('partials/footer.ejs') %>
